{% extends "core/base.html" %}

{% block content %}
<h1>Neues Passwort erstellen</h1>

{% if validlink %}

<h2>Neues Passwort eingeben</h2>

<p>Bitte gib' hier dein neues Passwort ein:</p>
<div id="commentForm"> 
<form action="" method="post" id="commentform" name="commentform"> 
{%csrf_token%}
<table>
<tr><th style="text-align:left;"><label for="id_new_password1">Neues Password:</label></th><td>{{ form.new_password1 }}</td></tr>
<tr><th style="text-align:left;"><label for="id_new_password2">..wiederholen:</label></th><td>{{ form.new_password2 }}</td></tr>
</table>
<br />
<input type="submit" value="Speichern" />
</form> 
</div>

{% else %}

<h2>Fehler aufgetreten</h2>

<p>Leider ist dein Reset-Link nicht korrekt. Bitte fordere erneut einen Reset-Link an oder schreibe eine E-Mail an <a href="mailto:support@docman.me">support@docman.me</a>.</p>

{% endif %}

{% endblock %}
