{% extends "core/base.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block headtitle %}
	<h1>{% trans "Set your new password" %}</h1>
	<p>{% trans "And don't forget it again, please." %}</p>
{% endblock %}

{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password: " %}</p>

<div id="loginForm">
	<h2>
		{% if form.errors %}
			<div class="error">
			{% if form.new_password2.errors.0|length < 30 %}
				{{form.new_password2.errors.0}}
			{% else %}
				{% trans "An error occurred." %}
			{% endif %}
			</div>
		{% endif %}	
		{% trans "Request new password <span>it's easy!</span>" %}
	</h2>
	<div class="content">
		{% if form.errors %}
		{% if form.new_password2.errors.0|length > 30 %}
			<p>{{ form.new_password2.errors.0 }}</p>
		{% endif %}
		{% endif %}
		<form method="post" action="">	
			<fieldset>
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next|default:"/" }}" />	
				<label for="id_new_password1">{% trans "New password:" %}</label>
				<input tabindex="1" id="id_new_password1" name="new_password1" type="password" maxlength="75" />
				<label for="id_new_password2">{% trans "..repeat, please:" %}</label>
				<input tabindex="2" id="id_new_password2" name="new_password2" type="password" maxlength="75" />				
				<input type="submit" value="{% trans "Save" %}"/>
			</fieldset>
		</form>
	</div>
</div>

{% else %}

<div class="drawnError">
<h2>{% trans "There is a problem!" %}</h2>

{% value_from_settings "SUPPORT_EMAIL" as support_email %}
<p class="colored">{% blocktrans %}Your reset link is incorrect. Please check your email for line breaks in the link, request a new reset link or write an email to <a href="mailto:{{support_email}}">{{support_email}}</a>.{% endblocktrans %}</p>
</div>

{% endif %}

{% endblock %}
