{% extends "core/base.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block content %}
<h1>{% trans "Set a new password" %}</h1>

{% if validlink %}

<h2>{% trans "Enter new password" %}</h2>

<p>{% trans "Please enter your new password: " %}</p>
<div id="commentForm"> 
<form action="" method="post" id="commentform" name="commentform"> 
{%csrf_token%}
<table>
<tr><th style="text-align:left;"><label for="id_new_password1">{% trans "New Password:" %}</label></th><td>{{ form.new_password1 }}</td></tr>
<tr><th style="text-align:left;"><label for="id_new_password2">{% trans "..repeat:" %}</label></th><td>{{ form.new_password2 }}</td></tr>
</table>
<br />
<input type="submit" value="{% trans "Save" %}" />
</form> 
</div>

{% else %}

<h2>{% trans "There is a problem" %}</h2>

{% value_from_settings "SUPPORT_EMAIL" as support_email %}
<p>{% blocktrans %}Your reset link is incorrect. Please check your email for line breaks in the link, request a new reset link or write an email to <a href="mailto:{{support_email}}">{{support_email}}</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
