{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Forgot your pasword?" %}</h1>

<p>{% trans "In the case you forgot your password, you may enter your email address and DocMan will send you a link with instructions how to reset your password." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans "Email address:" %}</label> {{ form.email }} <input type="submit" value="{% trans "New Password" %}" /></p>
</form>

{% endblock %}
