{% extends "core/base.html" %}
{% load i18n %}

{% block headtitle %}
	<h1>{% trans "Forgot your password?" %}</h1>
	<p>{% trans "We can send you a new, promised!" %}</p>
{% endblock %}

{% block content %}
<p>{% trans "In the case you forgot your password, you may enter your email address and DocMan will send you a link with instructions how to reset your password." %}</p>

<div id="loginForm">
	<h2>
		{% if form.email.errors %}
			<div class="error">
			{% if form.email.errors.0|length < 30 %}
				{{form.email.errors.0}}
			{% else %}
				{% trans "An error occurred." %}
			{% endif %}
			</div>
		{% endif %}	
		{% trans "Request new password <span>it's easy!</span>" %}
	</h2>
	<div class="content">
		{% if form.email.errors %}
		{% if form.email.errors.0|length > 30 %}
			<p>{{ form.email.errors.0 }}</p>
		{% endif %}
		{% endif %}
		<form method="post" action="">	
			<fieldset>
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next|default:"/" }}" />	
				<label for="id_email">{% trans "Email address:" %}</label>
				<input tabindex="1" id="id_email" name="email" type="text" maxlength="75" />
				<input type="submit" value="{% trans "New password" %}"/>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}
