{% load i18n value_from_settings subtract %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>DocMan &bull; {% block title %} proudly powered by get.docman.me{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />  
		
		<meta name="author" content="DocMan (piratesolutions)" />
		<meta name="description" content="DocMan - kollaborative Dokumentenverwaltung für Schüler und Studenten. Jetzt kostenlos testen!" />
		<meta name="keywords" content="DocMan, document, management, dokumenten, verwaltung, documentenverwaltung, collaborative, kollaborativ, schüler, studenten, universität, uni, fh, fachhochschule, hochschule, upload, pdf, word, excel, mehrbenutzer, multiuser, kostenlos, umsonst, frei, open source" />
		
		<link type="text/css" href="/media/css/redmond/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
		<link type="text/css" href="/media/css/new/base.css" rel="stylesheet" />
		<link href="/media/css/jquery.sb.css" media="all" rel="stylesheet" type="text/css" />

		{%if debug %}
			<script src="/media/js/jquery-1.7.1.js" type="text/javascript"></script>
		{% else %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		{% endif %}

		<script type="text/javascript" src="/media/js/jquery.sb.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery.transition.js"></script>		
		<script type="text/javascript" src="/media/js/jquery.modal.js"></script>

		{%if debug %}
			<script src="/media/js/jqueryui-1.8.13.js" stype="text/javascript"></script>
		{% else %}
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" stype="text/javascript"></script>
		{% endif %}

		<script src="/media/js/facebook.js" type="text/javascript"></script>
		<script type="text/javascript" src="/media/js/jquery.raty.min.js"></script>
		<script type="text/javascript" src="/media/js/jquery.loupe.js"></script>
		{% if not internet_explorer_warning %}
			<script src="/media/js/html5uploader.js" type="text/javascript"></script>
		{% endif %}
		
                <script src="/media/js/new/main.js" type="text/javascript"></script>
		<link href="/media/css/jquery.loupe.css" rel="stylesheet" type="text/css" />
		
		<script type="text/javascript">

		$(document).ready(function(){
                        /*if (!$.browser.msie) {
                                $.getScript('/media/js/html5uploader.js');
                        }
                        $.getScript('/media/js/new/main.js');*/

			$('img#logo').mouseover(function(){
				$('img#logo').css('opacity', 0);
				$('img#logoHover').css('opacity', 1);
			}).mouseout(function(){
				$('img#logoHover').css('opacity', 0);
				$('img#logo').css('opacity', 1);
			});
			
			{% if messages %}
				setTimeout(function(){$('div.message').hide('blind');}, 2500);
			{% endif %}
			
			$('div.hasPreview a.magnifier').loupe({
				'max_size' : 600,
				'glossy': true,
				'drop_shadow': true,
				'loupe_toggle_time' : 'fast'
			});
		});
		
		MEDIA_URL = '{{MEDIA_URL}}';

		messagesCount = 0;
		
		{% block js %}{% endblock %}
		</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28220405-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	</head>
	<body>
		<div id="fb-root"></div>	
		{% if messages %}
			{% for message in messages %}
				<div id="message-{{forloop.counter}}" class="message {{ message.tags }}">{{message|safe}}</div>
				<script type="text/javascript">
					$('#message-{{forloop.counter}}').css('top', (36*messagesCount)+'px');
					messagesCount++;
				</script>
			{% endfor %}
		{% endif %}	

		<div id="wrapper">
			<div id="header">
				<img id="logo" src="{{MEDIA_URL}}img/new/docman_s.png" />
				<img id="logoHover" src="{{MEDIA_URL}}img/new/docman_s_hover.png" />

				<div id="navigation">
					<ul>
					{% if request.user.is_authenticated %}
						<li class="home"><a href="/">{% trans "Overview" %}</a></li>
						{% if not request.user.get_profile.is_lecturer %}
							<li class="search"><a href="/search">{% trans "Full Text Search" %}</a></li>
							<li class="tagcloud"><a href="{% url tags-cloud %}">{% trans "Tag Cloud" %}</a></li>	        
						{% endif %}
						<li class="account"><a href="{% url account %}">{% trans "My Account" %}</a></li>

						{% if request.user.get_profile.is_organisation_manager %}
							<li class="manage"><a href="{% url organisation-default %}">{% trans "Manage Organisations" %}</a></li>
						{% endif %}

						<li class="logout last"><a href="{% url logout %}">{% trans "Logout" %}</a></li>					
					{% else %}
						<li class="home"><a href="/">{% trans "Home" %}</a></li>
						<li class="login"><a href="{% url login %}">{% trans "Login" %}</a></li>
						<li class="get last"><a href="http://get.docman.me">{% trans "Get DocMan"%}</a></li>
					{% endif %}
					</ul>

					<div id="languageSelector">
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
							<form action="/i18n/setlang/" method="post">
							<input type="hidden" name="language" value="{{language.code}}" />
							<img src="{{MEDIA_URL}}img/lang/{{language.code}}.png" onclick="$(this).parent().submit()" />
							</form>
						{% endfor %}
					</div>			
					
					{% if request.user.get_profile.is_lecturer %}
					<div id="accountInformation">
						{% trans "Lecturer account" %}
					</div>
					{% endif %}
												
				</div>
		
				<div id="body" style="clear:both;">
					{% if request.user.is_authenticated %}		
					<div id="semesterswitch">
						<select id="semesterSwitch" class="round_sb">
							<option {% if request.user.get_profile.semester == -1 %}
							selected="selected" {% endif %}value="all">{% trans "All Terms" %}</option>
							<option {% if request.user.get_profile.semester ==  1 %}
							selected="selected" {% endif %}value="1">{% trans "1st Term" %}</option>
							<option {% if request.user.get_profile.semester ==  2 %}
							selected="selected" {% endif %}value="2">{% trans "2nd Term" %}</option>
							<option {% if request.user.get_profile.semester ==  3 %}
							selected="selected" {% endif %}value="3">{% trans "3rd Term" %}</option>
							<option {% if request.user.get_profile.semester ==  4 %}
							selected="selected" {% endif %}value="4">{% trans "4th Term" %}</option>
							<option {% if request.user.get_profile.semester ==  5 %}
							selected="selected" {% endif %}value="5">{% trans "5th Term" %}</option>
							<option {% if request.user.get_profile.semester ==  6 %}
							selected="selected" {% endif %}value="6">{% trans "6th Term" %}</option>
					 	</select>
					</div>
					{% endif %}
					<div id="top">
					{% block headtitle %}
					<h1>FIX THIS TITLE</h1>
					<p>FIX THIS TITLE</p>
					{% endblock %}
					</div>

					{% block content %}{% endblock %}
				</div>
			</div>
			
			<div id="footer">
				<div class="left">
					<a href="{% url about %}">{% trans "About" %}</a> 
				</div>

				<div class="right">
					<div style="float:left;">
					{% if request.is_secure %}<span id="ssl">{% trans "SSL encrypted connection" %}</span>{% else %}<span id="no-ssl">{% trans "Insecure connection" %}</span> {% endif %}	
					{% trans "&copy; 2011-2012 DocMan" %}
					</div>
					<div class="social">
						<div class="facebook" onclick="window.location='http://www.facebook.com/CollabDocMan'"></div>
						<div class="twitter" onclick="window.location='http://twitter.com/collabdocman'"></div>
						<div class="github" onclick="window.location='http://github.com/tjosten/docman'"></div>
					</div>
				</div>
			</div>				
			
		</div>
		{%if debug %}
			<div style="padding:10px;background-color:#f00;color:white;position:relative;bottom:0px;left:0px;width:100%">
			<h3>SQL</h3>
			<ul>
			{% for query in sql_queries %}
				<li style="font-size:x-small">{{query.sql}}</li>
				<li style="margin-bottom:5px;">Execution time: {{query.time}}ms</li>
			{% endfor %}
			</ul>
		{% endif %}
	</body>
</html>
