{% extends "core/base.html" %}

{% block content %}
<h1>Whoops!</h1>
<div style="text-align:center;width:100%">

<embed src="http://www.youtube.com/v/mGDuExhS6Nw&autoplay=1" type="application/x-shockwave-flash" wmode="transparent" width="425" height="344"></embed>
<p>Die Ausf&uuml;hrung der Anwendung wurde unerwartet abgebrochen. Der Administrator wurde informiert. (Als ob.)</p>
</div>
<div style="display:none" class="e500">
Die Ausf&uuml;hrung der Anwendung wurde unerwartet abgebrochen. Der Administrator wurde informiert.
</div>
{% endblock %}
