{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<h1>Whoops!</h1>
<div style="text-align:center;width:100%">

<embed src="http://www.youtube.com/v/mGDuExhS6Nw&autoplay=1" type="application/x-shockwave-flash" wmode="transparent" width="425" height="344"></embed>
<p>{% trans "The execution of DocMan unexpectedly failed. The administrator will be informed." %}</p>
</div>
<div style="display:none" class="e500">
{% trans "The execution of DocMan unexpectedly failed. The administrator will be informed." %}
</div>
{% endblock %}
