{% extends "core/base.html" %}
{% load i18n %}
{% block content %}

<h1>{% trans "About DocMan" %}</h1>


<div class="courseSmall">{% trans "Imprint" %}</div>
<p style="font-size:small;">{% trans "The operator of this DocMan website cannot be taken responsible for uploaded files. The respective uploader is resonsible for the uploaded files and their content. The Copyrights of the original authors remains unchanged." %}</p>
<p style="font-size:small;">{{ imprint.name }}<br />{{ imprint.address1 }}<br />{{ imprint.address2 }}<br />{{ imprint.phone }}<br />
<a href="mailto:{{ imprint.email }}">{{ imprint.email }}</a></p>

<div class="courseSmall">{% trans "Technical Details" %}</div>
<p style="font-size:small">{% trans "This software has been developed with the help of:" %}</p>
<table style="font-size:small;width:60%" cellspacing="10">
<tr style="vertical-align:middle;">
<td style="vertical-align:middle;"><a class="noimg" href="http://djangoproject.com"><img src="{{MEDIA_URL}}img/djangopowered126x54.gif" /></a></td>
<td style="vertical-align:middle;">&laquo;Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.&raquo;</td>
</tr>

<tr style="vertical-align:middle;">
<td style="vertical-align:middle;"><a class="noimg" href="http://piratesolutions.org"><img class="ps" src="{{MEDIA_URL}}img/pslogo.jpg" /></a></td>
<td style="vertical-align:middle;">{% trans "Technical Implementation" %}</td>
</tr>

<tr style="vertical-align:middle;">
<td style="vertical-align:middle;"><a class="noimg" href="http://cherokee-project.com"><img class="cherokee" src="{{MEDIA_URL}}img/powered_by_cherokee-2.gif" /></a></td>
<td style="vertical-align:middle;">&laquo;Cherokee is a very fast, flexible and easy to configure Web Server.&raquo;</td>
</tr>
</table>

<div class="courseSmall">Download</div>
<table style="font-size:small;width:60%" cellspacing="10">
<tr style="vertical-align:middle;">
<td style="vertical-align:middle;"><a class="noimg" href="http://github.com/tjosten/docman"><img src="{{MEDIA_URL}}img/github.png" /></a></td><td style="vertical-align:middle;">
  {% trans "DocMan is an open source project and can be downloaded at GitHub." %}</td>
</tr>
</table>

<div class="courseSmall">{% trans "Statistics" %}</div>
<p style="font-size:small;">{% blocktrans with space=stats.space|filesizeformat number=stats.count %}Until now, a total number of {{number}} documents have been uploaded to DocMan, that take up {{space}} of file system storage.{% endblocktrans %}</p>


{% endblock %}
