{% extends "core/base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Your account, " %} {{request.user.first_name}}</h1>


<div class="courseSmall">{% trans "Change password" %}</div>

<div id="commentForm"> 
<form action="{% url account %}" method="post" id="commentform" name="commentform"> 
{%csrf_token%}
<table>
<tr><th style="text-align:left;">{% trans "New Password" %}</th><td><input name="password" id="password" type="password" /></td></tr>
<tr><th style="text-align:left;">{% trans "..repeat:" %}</th><td><input name="password_repeat" id="password_repeat" type="password" /></td></tr>
</table>
<br />
<input type="submit" value="{% trans "Save" %}" />
</form> 
</div> 


{% endblock %}
