{% extends "core/base.html" %}
{% load i18n %}

{% load truncatewords_by_chars %}
{% load call_method %}

{% block title %}{{course.name}}{% endblock %}


{% block content %}
{% include "core/upload.html" %}


<div class="uploadLink">
<a class="upload" href="javascript:void(0)">{% trans "Upload new file" %}</a><br />
<a class="download" href="{% url download-all course.pk %}">{% trans "Download all documents" %}</a><br />
{% if course|args:request.user.pk|call:"get_subscription" %}
<a class="unsubscribe" href="{% url unsubscribe-course course.pk %}">{% trans "Unsubscribe this Course" %}</a>
{% else %}
<a class="subscribe" href="{% url subscribe-course course.pk %}">{% trans "Subscribe this Course" %}</a>
{% endif %}
</div>

<h1>{{course.name}}</h1>
<div class="breadcrump">
{% trans "You are here" %}: <a href="/">{{category.name}}</a>
&raquo;
{{course.name}}
</div>

<div class="docentFull">{% trans "Lecturer" %}: <a href="{% url docent course.docent.pk %}">{{course.docent.name}}</a> {% if course.docent.email %}<span class="docentMail">(<a href="mailto:{{course.docent.email}}">{{course.docent.email}}</a>)</span>{%endif%}</div>
<div class="semesterFull">{% trans "Term" %}: {{course.getSemester}}</div>

<div class="documentBox">
<div class="course" style="width:540px">{% trans "Documents" %}</div>
<ul>
{% if documents.object_list.count > 0 %}
	{% for d in documents.object_list %}
		<div class="fileInfo" style="right: 230px">{{d.getLatestRevision.file.size|filesizeformat}}</div>
		<li style="background-image:url({{ MEDIA_URL}}img/fileicons/{{d.getLatestRevision.type|default:"file"}}.png)" class="file {{d.getLatestRevision.type}}"><a href="{% url document d.pk %}">{{d.name|truncatewords_by_chars:65}}</a>
		</li>
		<li class="fileInfo">
		  {% blocktrans with uploader=d.author.get_profile.profile|safe since=d.getLatestRevision.pub_date|timesince %}Uploaded by {{uploader}} - updated {{since}} ago{% endblocktrans %}</li>
	{% endfor %}
{% else %}
	<li class="info">{% trans "Until now no documents have been uploaded." %}</li>
{% endif %}
</ul>
</div>

{% if documents.paginator.num_pages > 1 %}
<div class="pagination">
	<span class="step-left">
  	{% if documents.has_previous %}
    	<a href="?p={{ documents.previous_page_number }}">&laquo;</a>
		{% endif %}

    <span class="current">
			{% trans "Page" %} {{ documents.number }} {% trans "of" %} {{ documents.paginator.num_pages }}
		</span>

    <span class="step-right">
			{% if documents.has_next %}
      	<a href="?p={{ documents.next_page_number }}">&raquo;</a>
      {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
