{% extends "core/base.html" %}

{% load truncatewords_by_chars %}
{% load call_method %}

{% block title %}{{course.name}}{% endblock %}


{% block content %}
{% include "core/upload.html" %}


<div class="uploadLink">
<a class="upload" href="javascript:void(0)">Neues Dokument hochladen</a><br />
<a class="download" href="{% url download-all course.pk %}">Alle Dokumente herunterladen</a><br />
{% if course|args:request.user.pk|call:"get_subscription" %}
<a class="unsubscribe" href="{% url unsubscribe-course course.pk %}">Kurs abbestellen</a>
{% else %}
<a class="subscribe" href="{% url subscribe-course course.pk %}">Kurs abonnieren</a>
{% endif %}
</div>

<h1>{{course.name}}</h1>
<div class="breadcrump">
Du bist hier: <a href="/">{{category.name}}</a>
&raquo;
{{course.name}}
</div>

<div class="docentFull">Dozent: <a href="{% url docent course.docent.pk %}">{{course.docent.name}}</a> {% if course.docent.email %}<span class="docentMail">(<a href="mailto:{{course.docent.email}}">{{course.docent.email}}</a>)</span>{%endif%}</div>
<div class="semesterFull">Semester: {{course.getSemester}}</div>

<div class="documentBox">
<div class="course" style="width:540px">Dokumente</div>
<ul>
{% if documents.object_list.count > 0 %}
	{% for d in documents.object_list %}
		<div class="fileInfo" style="right: 230px">{{d.getLatestRevision.file.size|filesizeformat}}</div>
		<li style="background-image:url({{ MEDIA_URL}}img/fileicons/{{d.getLatestRevision.type|default:"file"}}.png)" class="file {{d.getLatestRevision.type}}"><a href="{% url document d.pk %}">{{d.name|truncatewords_by_chars:65}}</a>
		</li>
		<li class="fileInfo">Hochgeladen von {{d.author.get_profile.profile|safe}} - vor {{d.getLatestRevision.pub_date|timesince}} aktualisiert</li>
	{% endfor %}
{% else %}
	<li class="info">Bisher wurden keine Dokumente hochgeladen.</li>
{% endif %}
</ul>
</div>

{% if documents.paginator.num_pages > 1 %}
<div class="pagination">
	<span class="step-left">
  	{% if documents.has_previous %}
    	<a href="?p={{ documents.previous_page_number }}">&laquo;</a>
		{% endif %}

    <span class="current">
			Seite {{ documents.number }} von {{ documents.paginator.num_pages }}
		</span>

    <span class="step-right">
			{% if documents.has_next %}
      	<a href="?p={{ documents.next_page_number }}">&raquo;</a>
      {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
