{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Welcome to DocMan." %}</h1>

<p>{% trans "Please login with your username and password:" %}</p>


<script type="text/javascript">
$(document).ready(function(){
	if ($.browser.msie) {
		$('#stopIe').show();
	}
});
</script>

<div id="stopIe" style="display:none">
{% trans "Stop! You are browsing via Internet Explorer. This website has only been tested with all up to date web browsers, so we cannot guarantee it will work with Internet Explorer. Use at your own risk!" %}
</div>

{% if error %}
<div class="message error">{{error|safe}}</div>
{% endif %}

<form method="post" action="{% url login %}">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next|default:"/" }}" />	
	
	<input class="login" name="username" type="text" />
	<input class="login" name="password" type="password" />
	
	<input type="submit" class="login" value=" " />
</form>

<p class="note">{% blocktrans %} Please note: You cannot sign up for DocMan on your own. Please contact {{ support_email }} in case of problems.{% endblocktrans %}</p>

<div id="poweredBy">
<p>{% trans "DocMan was realized using:" %}</p>
<a class="noimg" href="http://djangoproject.com"><img src="{{MEDIA_URL}}img/djangopowered126x54.gif" /></a>
<a class="noimg" href="http://piratesolutions.org"><img class="ps" src="{{MEDIA_URL}}img/pslogo.jpg" /></a>
<a class="noimg" href="http://cherokee-project.com"><img class="cherokee" src="{{MEDIA_URL}}img/powered_by_cherokee-2.gif" /></a>
<a class="noimg" href="http://panic.com/coda"><img class="coda" src="{{MEDIA_URL}}img/made_with_coda_left.png" /></a>
</div>
{% endblock %}
