{% extends "core/base.html" %}
{% load i18n %}

{% load truncatewords_by_chars %}

{% block title %}{% trans "Tagcloud" %}{% endblock %}

{% block content %}

<h1>{% trans "Tagcloud" %}</h1>

<div class="documentBox">
	{% if cloud %}
	<div class="tagcloud">
		{% for item in cloud %}
	 		<span style="font-size:{{ item.font_size }}em;"><a class="tag" href="{% url tags item %}">{{item}}</a></span>
		{% endfor %}
	</div>
	{% else %}
		<div style="text-align:center;margin:50px;">{% trans "No tags are assigned yet." %}</div>
	{% endif %}		
</div>
{% endblock %}
