{% extends "core/base.html" %}
{% load i18n %}

{% load truncatewords_by_chars %}

{% block title %}{% trans "Tag" %}: {{tag.name}}{% endblock %}

{% block content %}

<h1>Tag: {{tag.name}}</h1>

<div class="documentBox">
<div class="course" style="width:540px">{% trans "Documents" %}</div>
<ul>
{% if documents.object_list.count > 0 %}
	{% for d in documents.object_list %}
		<div class="fileInfo" style="right: 230px">{{d.getLatestRevision.file.size|filesizeformat}}</div>
		<li style="background-image:url({{ MEDIA_URL}}img/fileicons/{{d.getLatestRevision.type|default:"file"}}.png)" class="file {{d.getLatestRevision.type}}"><a href="{% url document d.pk %}">{{d.name|truncatewords_by_chars:65}}</a>
		</li>
		<li class="fileInfo"><a href="{%url course d.course.pk%}">{{d.course.name}}</a> - {% blocktrans with since=d.getLatestRevision.pub_date|timesince%}updated {{since}} ago{% endblocktrans %}</li>
	{% endfor %}
{% else %}
	<li class="info">{% trans "No documents have been uploaded so far." %}</li>
{% endif %}
</ul>
</div>

{% if documents.paginator.num_pages > 1 %}
<div class="pagination">
	<span class="step-left">
  	{% if documents.has_previous %}
    	<a href="{% url tags tag.name%}?p={{ documents.previous_page_number }}">&laquo;</a>
		{% endif %}

    <span class="current">
			{% trans "Page" %}{{ documents.number }} {% trans "of" %} {{ documents.paginator.num_pages }}
		</span>

    <span class="step-right">
			{% if documents.has_next %}
      	<a href="{% url tags tag.name%}?p={{ documents.next_page_number }}">&raquo;</a>
      {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}
