{% extends "core/base.html" %}
{% load i18n %}

{% block headtitle %}
	<h1>{% trans "Scope Management" %}</h1>
	<p>{{organisation.name}}</p>
{% endblock %}

{% block js %}
$(document).ready(function(){
	$("table#scopeManagementTable").tablesorter({ sortList: [[0,0]], headers: {4:{sorter: false}}});
});
{% endblock %}

{% block content %}
{% include "organisation/navigation.html" %}

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tablesorter.min.js"></script>

<div style="margin-bottom:10px;float:left">
<fieldset style="padding:0px;">
<input type="text" style="width:200px;" id="filter" value="{% trans "Filter by any field.."  %}" />
</input>
</fieldset>
</div>

<script type="text/javascript">
	cache = [];
	cache['_all'] = $.parseJSON('{{json_cache|safe}}');
	cache['terms'] = []

	updateTable = function(response, all) {
		$('table#scopeManagementTable tbody').html('');
		$.each(response, function(index, obj){
			var html = '<tr style="cursor:pointer;" onclick="document.location=\'/_/organisation/{{organisation.pk}}/scope_mgmt/'+obj.pk+'\';">';
			html+= '<td>'+obj.pk+'</td>';
			html+= '<th>'+obj.name+'</th>';
			html+= '<td>'+obj.courses+'</td>';
			html+= '<td style="text-align:right">'+obj.users+'</td>';
			html+= '</tr>';
			$('table#scopeManagementTable tbody').append(html);
		});
	};

	$('#filter').click(function() {
		$(this).val('');
	}).keyup(function() {
		term_value = $(this).val();

		if (term_value == '') {
			updateTable(cache['_all'], true);
			return;
		}

		if (typeof(cache['terms'][term_value]) != 'undefined') {
			updateTable(cache['terms'][term_value]);
		} else {
			$.ajax({
				url: '{% url organisation-scope-mgmt-filter organisation.pk %}',
				dataType: 'json',
				data: 'term='+term_value,
				success: function(response) {
					cache['terms'][term_value] = response
					updateTable(response);
				}
			});
		}
	});
</script>

<div style="margin-bottom:10px;float:right;"><a class="btn" href="{% url organisation-scope-mgmt-create organisation.pk %}">{% trans "Create new scope" %}</a></div>

<br style="clear:both" />

<table class="zebra-striped condensed-table" id="scopeManagementTable">
	<thead>
		<tr>
			<th style="width:15px" class="header">#</th>
			<th style="width:175px" class="blue header">{% trans "Name" %}</th>
			<th class="blue header">{% trans "Courses" %}</th>
			<th style="width:50px;text-align:right" class="blue header">{% trans "Users" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for scope in scopes %}
		<tr style="cursor:pointer;" onclick="document.location='{% url organisation-scope-mgmt-edit organisation.pk scope.pk %}';">
			<td>{{scope.pk}}</td>
			<th>{{scope.name}}</th>
			<td style="font-size:small">
				{% for course in scope.getCourses %}
					{{course.name}}{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</td>
			<td style="text-align:right">
				{{scope.getUsersAssigned}}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
