<body style="background-color: #f2f8fe;font-family: 'Lucida Sans Unicode', 'Lucida Grande';color: rgb(60,60,60);">
<div style="background-color: #f2f8fe;font-family: 'Lucida Sans Unicode', 'Lucida Grande';color: rgb(60,60,60);padding: 10px;">

<div style="width:250px;height: 80px;" id="logo"><img src="http://static.docman.me/img/docman-small.png" border="0" alt="DocMan"></div>
<h1 style="color: rgb(100, 100, 100);font-size: 18px;">{%block title%}{%endblock%}</h1>

<p>{%block content%}{%endblock%}</p>


<div id="footer" style="margin-top:20px;font-size:x-small;color: rgb(190,190,190);">&copy; 2011 DocMan - Alle Rechte vorbehalten. Mit freundlicher Unterst&uuml;tzung von <a style="color: rgb(190,190,190);" href="http://piratesolutions.org">piratesolutions</a>.</div>

</div>
</body>